*{
    margin: 0;
    padding: 0;
}

.float{
    margin : 20px;
    display: flex;
    flex-direction: row;
}

.carre{
    width:200px;
    height:200px;
    background-color:rgb(10, 209, 10);
    margin: 20px;
    transition: transform 1s, background-color 0.1s ;
}




.textN{
    text-align: center;
    vertical-align: middle;
    line-height: 200px;  
    color: aliceblue;

}

.carreN{

    transform: rotate(360deg) scale(0.9);
    background-color: red;
    
    
}
